body {
	background-color: rgb(104,187,285);

	width: 100%;
}
h1{
	text-align: center;
	font-size: 45px;
}
#header{
	height: 20%;
	width: 100%;
}
#container{
	height: 100%;
	width: 100%;
}
#left-box{
	float: left;
	background-color: rgb(9,30,45);
	color: #FFFFFF;
	height: 100%;
	width: 40%;
}
#right-box{
	display: inline-block;
	width: 59%;
	background-color: #FFFFFF;
	margin-left: 1px;
	
}
#experiences-box{
	width: 100%;
	height: 300px;
	margin-bottom: 3px;
	background-color: red;

}
#studies-box{
	width: 100%;
	height: 300px;
	margin-top: 3px;
	background-color: green;
}
#footer{
	display: block;
}