body {
	background-color: rgb(104,187,285);

	width: 100%;
}
h1{
	text-align: center;
	font-size: 45px;
}
li{list-style-type: none;}
ul{text-decoration: none;}
#header{
	height: 20%;
	width: 100%;
}
#container{
	height: 100%;
	width: 100%;
}
#left-box{
	float: left;
	background-color: rgb(9,30,45);
	color: #FFFFFF;
	height: 64Opx;
	width: 40%;
}
#right-box{
	display: inline-block;
	width: 59%;
	background-color: rgb(9,30,45);
	margin-left: 1px;
	
}
#experiences-box{
	width: 100%;
	height: 300px;
	margin-bottom: 3px;
	background-color: white;

}
#studies-box{
	width: 100%;
	height: 300px;
	margin-top: 3px;
	background-color: white;
}
.experience{
	background-color: rgb(104,187,285);
}
.study{
	background-color: rgb(104,187,285);
}
#footer{
	display: block;
	height: 50px;
	background-color: rgb(9,30,45);
}